/* Custom Font from daFont.com */
@font-face {
    font-family: roboto;
    src: url(assets/fonts/roboto/Roboto-Black.ttf);
}

/* Custom Font from daFont.com */
@font-face {
    font-family: kg_primary_italics;
    src: url(assets/fonts/kg_primary_italics/KGPrimaryItalics.ttf);
}

body{
  background-color: lightGray;
}

.header {
  font-family: roboto;
  font-size: 30px;
  display: block;
  padding: 0px;
  margin: 0px;
}

#todoIcon {
  background-image: url("assets/icons/listIcon.png");
  width: 64px;
  height: 64px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.header-title {
  display: inline-block;
  padding: 0px;
  height: 64px;
  width: 300px;
}

.items {
  font-family: kg_primary_italics;
}


.checklist {
  padding: 50px;
  margin: 20px;
  font-size: 24px;
  background-color: white;
  box-shadow: 0 10px 20px 0 RGBA(0, 0, 0, 0.2);
}

.footer {
  display: block;
  padding-top: 128px;
}

.footer button {
  border-radius: 10px;
  padding: 5px;
  background-color: RGB(225,225,225);
  display: inline-block;
  outline: none;
  border: 0px solid;
}

.footer button:hover {
  background-color: RGB(200,200,200);
}

.remove-button {
  display: inline-block;
  font-size: 20px;
}

.remove-completed {
  display: inline-block;
  padding: 10px;
}

.remove-all {
  display: inline-block;
  padding: 10px;
}

#removeCompletetedIcon {
  background-image: url("assets/icons/clearAll.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

#removeAllIcon {
  background-image: url("assets/icons/garbage.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

/* change style if screen is mobile size */
@media screen and (max-width: 600px) {
  body {
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    background-color: white;
  }
  .checklist {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
  }
  .header {
    font-size: 16px;
    padding-left: 10px;
  }
  .header-title {
    width: 180px;
  }
   #todoIcon {
     width: 32px;
     height: 32px;
   }
   .checklist {
     font-size: 16px;
   }
   .newTodo input {
     font-size: 16px;
     /* width: 100%; */
   }
   .newTodo {
     width: 200px;
   }

}
